.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    height: 100%;
    width: 50%;
}

.searchInputs > input {
    height: 35px;
    width: 500px;
    border-radius: 5px;
}

.searchIcon > button {
    background-color: orange;
}
.searchIcon > button:hover {
    background-color: rgb(228, 148, 0);
}

.results {
    margin-top: 5px;
    /* width: 500px; */
    /* height: 200px; */
    background-color: white;
    box-shadow: 0px 5px 15px gray;
    overflow: hidden;
    overflow-y: auto;
}

.results::-webkit-scrollbar {
    display: none;
}
