.cli-container{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #e3e6e8;
        margin-bottom: 50px;
    
}