.cl-container{
    
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        border-top: 1px solid #e3e6e8;
        margin-bottom: 10px;
    
}