.footer-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #232629;


}

.footer--pin {
    margin-top: auto
}

.footer-link-container{
    display: flex;
    align-items: center;
    margin-right:20px;
    color:white;

}

.footer-link-container > i {
    flex-grow: 1;
    margin: 20px;
}
.footer-link-container > i:hover{
    cursor: pointer;
}

#footer-name{
    color:white;
}

.logo-footer-image{
    width:80px;
    height: auto;
 
}

.logo-footer{
    margin-left:20px;
}

.bullies-container h2 {
    color: white;
}

.bully {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    width: 250px;
}

.bully i {
    font-size: 30px;
    margin: 8px 8px;
    color: #0a95ff;
}
.bully i:hover {
    color: rgb(9, 108, 183);
}
