.footer-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #232629;


}

.footer--pin {
    margin-top: auto
}

.footer-link-container{
    display: flex;
    align-items: center;
    margin-right:20px;
    color:white;

}

.footer-link-container > i {
    flex-grow: 1;
    margin: 20px;
}
.footer-link-container > i:hover{
    cursor: pointer;
}

#footer-name{
    color:white;
}

.logo-footer-image{
    width:80px;
    height: auto;
 
}

.logo-footer{
    margin-left:20px;
}

.modal-bully{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.modal-bullies-name{
    color: white;
    font-size: 18px;
}

.modal-bullies-github{
    color: white;
    font-size: 28px;
    margin: 8px;
}

.modal-bullies-linked {
    color:#0a95ff;
    font-size: 28px;
    margin: 8px;
}
.modal-bullies-github:hover, .modal-bullies-linked:hover{
    color: rgb(255, 115, 0);
}
