/* TODO Add site wide styles */
button{
    
    background-color: #0a95ff;
    color:white;
    padding: 0.8em;
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
    border: none;
    border-radius: 2px;
    height: 40px;

}

button:hover{
    cursor: pointer;
    box-shadow: 10px 5px 5px #838c95;

}

.link{
    text-decoration: none;
    color: #838c95;
}

.link:hover{
    color: #0a95ff;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

.errors {
    color: red;
    font-size: 16px;
}

html *{    
    font-family: sans-serif;
}
