.q-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin:auto;
    min-width: 300px;
    max-width: 700px;

}

.q-detail{
    justify-content: left;

}
.q-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e3e6e8;
   }

.q-actions-container{
    display: flex;
    align-items: center;
    justify-content: left;
}