.ql-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}

.ql-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e3e6e8;
}

.ql-users-list {
    padding-left: 28%;
    width: 300px;
}

@media screen and (max-width: 1200px) {
    .ql-users-list {
        display: none;
    }
}
