#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: auto;
}

input {
  margin: 10px;
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    background-color: rgb(49, 46, 46);
    box-shadow: 0 0 25px 0 black;
}

.modal-form-title {
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.modal-form-container {

}

.modal-input-title-label, .modal-input-body-label {
color: white;
font-family: sans-serif;
}

.modal-input-title {
    padding: 10px;
    font-size: 18px;
    width: 374px;
    border-radius: 10px;
}

.modal-input-body {
    padding: 10px;
    font-size: 18px;
    width: 374px;
    border-radius: 10px;
}

.modal-btn {
    color:white;
    padding: 0.8em;
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
    border: none;
    border-radius: 2px;
    height: 40px;
    margin: 5px;
}

.modal-btn:hover {
    background-color: white;
    transition: 0.7s;
    color: black;
}

.modal-submit-btn {
  background-color: #0a95ff;
}

.modal-cancel-btn {
  background-color: rgb(255, 115, 0);
}
