
.votes-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 150px;
}
.vote-caret-container:hover{
    background-color: rgb(170, 165, 165);
    cursor: var(--vote-caret-hover-cursor, pointer);

}

.vote-caret-container{
    width:40px;
    background-color: white;
    color:#babfc4;
    padding: 0.8em;
    border: none;
    height: 40px;
    min-width: 100px;
    box-shadow: none !important;
}

.down-caret{
    margin-bottom: 10px;
}