
.votes-container{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.vote-caret-container:hover{
    background-color: rgb(170, 165, 165);
    cursor: var(--vote-caret-hover-cursor)
    /* cursor: pointer; */
}

.vote-caret-container{
    width:40px;

    background-color: white;
    color:rgb(0, 0, 0);
    padding: 0.8em;
    border: none;
    height: 40px;
}

.down-caret{
    margin-bottom: 10px;
}